<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>letsridekids.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>79</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
				<key>dateExpires</key>
				<string>16/11/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Microblink.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Passbase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>79</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A5B42ACC8A3318D5C1558333F841B92D4EFD9185</string>
						<key>dateExpires</key>
						<string>16/11/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K8BGTSKSNJ.com.lrk.letsridekids</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:lrk.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>K8BGTSKSNJ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>letsridekids.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>28e47107-b9ac-41b2-a4e3-1e1991b201b4</string>
				<key>dateExpires</key>
				<string>16/11/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.lrk.letsridekids</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K8BGTSKSNJ</string>
				<key>name</key>
				<string>ISB Investments, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
