<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>letsridekids.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
				<key>dateExpires</key>
				<string>01/05/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Persona2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EDE6B82C3CC1E5328AF67D4B8228EB61FC748DA7</string>
						<key>dateExpires</key>
						<string>01/05/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K8BGTSKSNJ</string>
						<key>name</key>
						<string>ISB Investments, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K8BGTSKSNJ.com.lrk.letsridekids</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:lrk.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>K8BGTSKSNJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>letsridekids.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>614612ae-8d72-4ea8-b8c6-fafca57fe2d2</string>
				<key>dateExpires</key>
				<string>01/05/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lrk.letsridekids</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K8BGTSKSNJ</string>
				<key>name</key>
				<string>ISB Investments, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
